.switchLanguage {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
}

.switchLanguage > label[for="fr"] {order: 1;}
.switchLanguage > .switchLanguage__toggleCtn {order: 2;}
.switchLanguage > label[for="en"]  {order: 3;}

.switchLanguage > label {
    cursor: pointer;
    width: 24px;
    height: 15px;
    display: block;
    display: flex;
}

.switchLanguage__flagIcon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--primary-bg-color);
    box-shadow: 
        0 0.15rem var(--clickable-elmt-color);
    margin: auto;
}

.switchLanguage > input {
    display: none;
}

.switchLanguage__toggleCtn {
    position: relative;
    width: 24px;
    height: 15px;
    border: 2px solid var(--hlight-elmt-color);
    box-shadow: 0 0 0.15rem var(--hlight-elmt-color);
    border-radius: 1rem;
    margin: 0 4px;
}

.switchLanguage__slider {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: var(--hlight-elmt-color);
    box-shadow: 0.1rem -0.05rem inset var(--secondary-bg-color);
    position: relative;
    top: 1.9px;
    transition: 0.3s left 0.05s ease-in-out;
}

.switchLanguage__input_fr:checked ~ .switchLanguage__toggleCtn > .switchLanguage__slider {
    left: 1px;
}

.switchLanguage__input_en:checked ~ .switchLanguage__toggleCtn > .switchLanguage__slider {
    left: 11px;
}
