.projectMin {
    width: var(--projectMin-square-size);
    height: var(--projectMin-square-size);
    margin: 0 0.25rem 0.25rem 0;
    border-radius: var(--border-radius);
    border: 2px solid var(--clickable-elmt-color);
    overflow: hidden;
}

.projectMin_emptyMin {
    background-color: var(--secondary-bg-color);
    display: flex;
}

.projectMin__image {
    width: 100%;
    height: 100%;
    border-radius: 0.39rem;
    object-fit: fill;
}

.projectMin__caption {
    width: 100%;
    height: var(--projectMin-square-size);
    background-color: var(--secondary-bg-color-transparent);
    cursor: pointer;
    position: relative;
    bottom: calc(5.5vw + 0.25rem);
    border-radius: 0 0 0.39rem 0.39rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 3vw;
    padding: 0.25rem 0.25rem 0.5rem 0.25rem;
    transition: transform 350ms ease-out;
}

.projectMin__caption_emptyMin {
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    transform: rotate(-45deg);
    margin: auto;
}

.projectMin__caption:hover {
    transform: translateY(var(--projectMin-caption-translation));
    transform-origin: bottom;
}

.projectMin__caption__arrow {
    margin: 0.1rem 0 1.5vw 0;
    transition: transform 350ms ease-out;
}

.projectMin__caption:hover > .projectMin__caption__arrow {
    transform: rotate(180deg);
}

.projectMin__link {
    color: var(--white);
    text-decoration: none;
    margin-top: 1.5vw;
}

.projectMin__link__icon {
    color: var(--clickable-elmt-color);
}

.projectMin__link__underline_code, .projectMin__link__underline_live  {
    display: block;
    height: 0.25rem;
    width: 0;
    margin-top: 0.05rem;
    background-color: var(--clickable-elmt-color);
}

.projectMin__link_code:hover, .projectMin__link_live:hover {
    color: var(--clickable-elmt-color);
}

.projectMin__caption:hover > .projectMin__link > .projectMin__link__underline_code {
    animation: scaleX--code 0.5s 350ms ease-out forwards;
} 

.projectMin__caption:hover > .projectMin__link > .projectMin__link__underline_live {
    animation: scaleX--live 0.5s 350ms ease-out forwards;
} 

@keyframes scaleX--code {
    to {
        width: 6vw;
    }
}

@keyframes scaleX--live {
    to {
        width: 12vw;
    }
}

@media screen and (min-width: 580px) {
    .projectMin {
        width: var(--projectMin-square-size-tablet);
        height: var(--projectMin-square-size-tablet);
    }
    .projectMin__caption {
        height: var(--projectMin-square-size-tablet );
        font-size: 1.75vw;
        bottom: calc(3.25vw + 0.25rem);
    }
    .projectMin__caption:hover {
        transform: translateY(var(--projectMin-caption-translation-tablet));
    }
    @keyframes scaleX--code {
        to {
            width: 3.5vw;
        }
    }
    
    @keyframes scaleX--live {
        to {
            width: 7vw;
        }
    }
}

@media screen and (min-width: 1024px) {
    .projectMin {
        width: var(--projectMin-square-size-laptop);
        height: var(--projectMin-square-size-laptop);
    }
    .projectMin__caption {
        height: var(--projectMin-square-size-laptop);
        font-size: 1vw;
        bottom: calc(2vw + 0.25rem);
    }
    .projectMin__caption:hover {
        transform: translateY(var(--projectMin-caption-translation-laptop));
    }
    .projectMin__link {
        margin-top: 0.75vw;
    }
    @keyframes scaleX--code {
        to {
            width: 2vw;
        }
    }
    
    @keyframes scaleX--live {
        to {
            width: 4vw;
        }
    }
}

@media screen and (min-width: 1560px) {
    .projectMin {
        width: var(--projectMin-square-size-laptop-large);
        height: var(--projectMin-square-size-laptop-large);
    }
    .projectMin__caption {
        height: var(--projectMin-square-size-laptop-large );
        font-size: 0.75vw;
        bottom: calc(1.5vw + 0.25rem);
    }
    .projectMin__caption:hover {
        transform: translateY(var(--projectMin-caption-translation-laptop-large));
    }
    .projectMin__link {
        margin-top: 0.5vw;
    }
    .projectMin__caption__arrow {
        margin-bottom: 1vw;
    }
    @keyframes scaleX--code {
        to {
            width: 1.5vw;
        }
    }
    
    @keyframes scaleX--live {
        to {
            width: 3vw;
        }
    }
}
