.about {
    display: flex;
    align-items: center;
    border: 2px solid var(--clickable-elmt-color);
    border-radius: var(--border-radius);
    height: 90%;
    max-height: 4em;
    padding: 0.25rem;
}

.about__image {
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}

.about__title {
    font-size: 1em;
    cursor: pointer;
}